html,body{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin: 0;
}
.thanhdieuhuong{
    display: flex;
    width: 100%;
    height: 65px;
    background-color: #FFFFFF;
    margin-top: 0px;
}
.anhvaten{
    display:flex;
    width: 40%;
    gap: 0.7cm;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    margin-top: 25px;
}
.nut{
    width: 30%;
    display: flex;
    gap: 0.5cm;
}
.rong{
    width: 90%;
}
#anh
{ 
    margin-left: 7px;
    margin-bottom: 5px;
}
button{
    margin-top: 15px;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
#but1{
    background-color: rgb(243, 113, 83);
    border: 1px solid rgb(221, 91, 48);
}
#but1:hover{
    color:white;
    background-color: rgb(235, 123, 86);
}
#but2{
    background-color: rgb(24, 20, 20);
    color: #FFFFFF;
}
#but2:hover{
    color: rgb(246, 91, 56);
    background-color: aliceblue;
    border: 1px solid rgb(221, 91, 48);
}
.bo{
    width: 100%;
    height:100%;
    background-size:cover;
    background-image: url("meno.png");
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}
.bo2{
    display: none;
    background-color: #1E1E1E;
    margin-left: 18cm;
    margin-bottom: 2cm;
    width: 100%;
    height: 60%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.bo3{
    width: 100%;
    height: 100%;
    padding-left: 6cm;
}
.dangnhap{ 
    width: 80%;
    height: 67%;
    margin-bottom: 80px;
    color: #FFFFFF;
    text-align: center;
}
input{
    width: 50%;
    height: 13%;
    border: 1px;
    border-radius: 12px;
}
input::placeholder{
    font-size: small;
}
#but3{
    width: 60%;
    height: 15%;
    background-color: #e2df2e;

}
.hh{
    font-family: 'Courier New', Courier, monospace;
    font-weight:300;

}